USE [master]
GO
/****** Object:  Database [dbTask7]    Script Date: 27.01.2021 13:34:24 ******/
CREATE DATABASE [dbTask7]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbTask7', FILENAME = N'D:\dbTask7.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbTask7_log', FILENAME = N'D:\dbTask7_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbTask7].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbTask7]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 27.01.2021 13:34:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [uniqueidentifier] NOT NULL,
	[FullName] [nchar](50) NOT NULL,
	[Sex] [int] NOT NULL,
	[BirthDate] [datetime] NOT NULL,
	[GroupId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_Students_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 27.01.2021 13:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[Id] [uniqueidentifier] NOT NULL,
	[GroupName] [nchar](20) NOT NULL,
	[Specialty] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Groups_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[View_GroupStudent]    Script Date: 27.01.2021 13:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_GroupStudent]
AS
SELECT        dbo.Groups.GroupName, dbo.Students.FullName
FROM            dbo.Groups INNER JOIN
                         dbo.Students ON dbo.Groups.Id = dbo.Students.GroupId
GO
/****** Object:  Table [dbo].[Credits]    Script Date: 27.01.2021 13:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Credits](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nchar](100) NOT NULL,
	[Creditation] [int] NULL,
	[Date] [datetime] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[Examiner] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Credits_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 27.01.2021 13:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nchar](100) NOT NULL,
	[Mark] [int] NULL,
	[Date] [datetime] NOT NULL,
	[SessionId] [uniqueidentifier] NOT NULL,
	[Examiner] [nchar](100) NOT NULL,
 CONSTRAINT [PK_Exams] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 27.01.2021 13:34:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[Id] [uniqueidentifier] NOT NULL,
	[Number] [int] NOT NULL,
	[OwnerType] [int] NOT NULL,
	[GroupId] [uniqueidentifier] NULL,
	[StudentId] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Credits] ([Id], [Name], [Creditation], [Date], [SessionId], [Examiner]) VALUES (N'7f083d71-8a10-4476-b286-000107f5a14e', N'Python                                                                                              ', 1, CAST(N'2020-12-19T00:00:00.000' AS DateTime), N'2588af73-5691-4d82-831e-e5467f820257', N'Petrova Olga Leonidovna                                                                             ')
INSERT [dbo].[Credits] ([Id], [Name], [Creditation], [Date], [SessionId], [Examiner]) VALUES (N'd9d2f6bc-8935-4e57-a8b0-0089554f358b', N'Math                                                                                                ', 1, CAST(N'2019-12-19T00:00:00.000' AS DateTime), N'f814c66b-7065-4179-9e39-acffb861786b', N'Petrov Lev Leonidovich                                                                              ')
INSERT [dbo].[Credits] ([Id], [Name], [Creditation], [Date], [SessionId], [Examiner]) VALUES (N'ed012da6-12fc-458b-b639-00b38f148633', N'Math                                                                                                ', 1, CAST(N'2019-12-19T00:00:00.000' AS DateTime), N'29a2c9e6-07e6-44d6-bfbd-1c71d612f307', N'Petrov Lev Leonidovich                                                                              ')
GO
INSERT [dbo].[Exams] ([Id], [Name], [Mark], [Date], [SessionId], [Examiner]) VALUES (N'81466b28-b632-470d-8c2e-0004d4ed9a37', N'Math                                                                                                ', 4, CAST(N'2020-01-10T00:00:00.000' AS DateTime), N'712fb063-6b7a-4a23-bb1f-c4fba266f0b8', N'Petrov Lev Leonidovich                                                                              ')
INSERT [dbo].[Exams] ([Id], [Name], [Mark], [Date], [SessionId], [Examiner]) VALUES (N'512242e6-294c-4223-8d2b-0066ce91fde4', N'OS                                                                                                  ', 6, CAST(N'2021-01-19T00:00:00.000' AS DateTime), N'c19bf191-44ef-4832-845d-f6276ddeb665', N'Pavlov Petr Leonidovich                                                                             ')
INSERT [dbo].[Exams] ([Id], [Name], [Mark], [Date], [SessionId], [Examiner]) VALUES (N'95467d50-6fdd-4a15-8875-02081476a9bf', N'OS                                                                                                  ', 10, CAST(N'2020-01-19T00:00:00.000' AS DateTime), N'9891d253-d514-4b39-93e2-046649d9b5e9', N'Pavlov Petr Leonidovich                                                                             ')
GO
INSERT [dbo].[Groups] ([Id], [GroupName], [Specialty]) VALUES (N'de02bc2c-1146-439f-8881-676486671cd6', N'IP-31               ', N'Computer science and programming                                                                    ')
INSERT [dbo].[Groups] ([Id], [GroupName], [Specialty]) VALUES (N'df78b266-44a5-4655-801d-861ca25bbff8', N'ITI-31              ', N'Information technology in gaming                                                                    ')
INSERT [dbo].[Groups] ([Id], [GroupName], [Specialty]) VALUES (N'7ef5ec6c-2ffe-4eb7-9987-ce89b1a149c9', N'ITI-32              ', N'Information Technology in gaming                                                                    ')
GO
INSERT [dbo].[Sessions] ([Id], [Number], [OwnerType], [GroupId], [StudentId]) VALUES (N'327e66e4-f66e-4750-8f96-02be5f64497d', 3, 1, NULL, N'fcdf7204-ff81-4853-b7e8-2443e86b823d')
INSERT [dbo].[Sessions] ([Id], [Number], [OwnerType], [GroupId], [StudentId]) VALUES (N'd32672f3-5db9-410e-a814-04227b294f9c', 1, 1, NULL, N'805e8e1b-6072-4152-a969-906413e74775')
INSERT [dbo].[Sessions] ([Id], [Number], [OwnerType], [GroupId], [StudentId]) VALUES (N'9891d253-d514-4b39-93e2-046649d9b5e9', 2, 1, NULL, N'0c428513-b152-4ef4-9e86-588a5d39a8cf')
GO
INSERT [dbo].[Students] ([Id], [FullName], [Sex], [BirthDate], [GroupId]) VALUES (N'7f91ba7c-d2a5-42c5-9a99-0b03581b1473', N'Elizarov Alexander                                ', 1, CAST(N'2000-11-12T00:00:00.000' AS DateTime), N'df78b266-44a5-4655-801d-861ca25bbff8')
INSERT [dbo].[Students] ([Id], [FullName], [Sex], [BirthDate], [GroupId]) VALUES (N'ec18cfae-45e6-47cc-b5ed-1f68ce9f1b13', N'Pushkina Olga                                     ', 2, CAST(N'2000-10-03T00:00:00.000' AS DateTime), N'df78b266-44a5-4655-801d-861ca25bbff8')
INSERT [dbo].[Students] ([Id], [FullName], [Sex], [BirthDate], [GroupId]) VALUES (N'fcdf7204-ff81-4853-b7e8-2443e86b823d', N'Borisov Nikita                                    ', 1, CAST(N'2000-10-03T00:00:00.000' AS DateTime), N'df78b266-44a5-4655-801d-861ca25bbff8')
GO
ALTER TABLE [dbo].[Groups] ADD  CONSTRAINT [DF_Groups_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Credits]  WITH CHECK ADD  CONSTRAINT [FK_Credits_Sessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Sessions] ([Id])
GO
ALTER TABLE [dbo].[Credits] CHECK CONSTRAINT [FK_Credits_Sessions]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Sessions] FOREIGN KEY([SessionId])
REFERENCES [dbo].[Sessions] ([Id])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Sessions]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Groups]
GO
ALTER TABLE [dbo].[Sessions]  WITH CHECK ADD  CONSTRAINT [FK_Sessions_Students] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Students]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Groups] FOREIGN KEY([GroupId])
REFERENCES [dbo].[Groups] ([Id])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Groups]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Groups"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 102
               Right = 208
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Students"
            Begin Extent = 
               Top = 8
               Left = 282
               Bottom = 138
               Right = 452
            End
            DisplayFlags = 280
            TopColumn = 1
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_GroupStudent'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_GroupStudent'
GO
USE [master]
GO
